<script type="text/javascript">
var ps_text1 = "{LA_PS_VERY_WEAK}",
	ps_text2 = "{LA_PS_WEAK}",
	ps_text3 = "{LA_PS_GOOD}",
	ps_text4 = "{LA_PS_STRONG}",
	ps_text5 = "{LA_PS_VERY_STRONG}",
	ps_color1 = "#f5a9a9", // 1 red, very weak
	ps_color2 = "#f5d0a9", // 2 orange, weak
	ps_color3 = "#f3f781", // 3 yellow, good
	ps_color4 = "#a9f5a9", // 4 light green, strong
	ps_color5 = "#00ff00"; // 5 green, very strong
window.jQuery || document.write(unescape('%3Cscript src="{ROOT_PATH}password_strength/jquery.js" type="text/javascript"%3E%3C/script%3E'));
</script>
<script type="text/javascript" src="{ROOT_PATH}password_strength/password_strength_min.js"></script>