{% if S_USE_ZXCVBN %}
	{% set zxcvbntsLangs = {
		'de': 'de',
		'de_x_sie': 'de',
		'en': 'en',
		'es': 'es-es',
		'es_x_tu': 'es-es',
		'fi': 'fi',
		'fr': 'fr',
		'id': 'id',
		'it': 'it',
		'ja': 'ja',
		'nl': 'nl-be',
		'pl': 'pl',
		'pt-br': 'pt-br',
	} %}
	{% set zxcvbntsLang = S_USER_LANG in zxcvbntsLangs|keys ? zxcvbntsLangs[S_USER_LANG] : zxcvbntsLangs.en %}
	{% INCLUDEJS '@vse_passwordstrength/js/zxcvbn-ts/core/dist/zxcvbn-ts.js' %}
	{% INCLUDEJS '@vse_passwordstrength/js/zxcvbn-ts/language-common/dist/zxcvbn-ts.js' %}
	{% INCLUDEJS '@vse_passwordstrength/js/zxcvbn-ts/language-en/dist/zxcvbn-ts.js' %}
	{% if zxcvbntsLang != 'en' %}{% INCLUDEJS '@vse_passwordstrength/js/zxcvbn-ts/language-' ~ zxcvbntsLang ~ '/dist/zxcvbn-ts.js' %}{% endif %}
{% endif %}
<script>
	(function() {
		'use strict';

		// Get DOM elements
		const passField = document.querySelector('input[name=new_password]');
		{% if S_USE_ZXCVBN -%}
		const userField = document.querySelector('input[name=username], input[name=user]');
		const mailField = document.querySelector('input[name=email], input[name=user_email]');
		{% endif -%}
		const resultMsg = document.createElement('div');

		// Define password strength values
		const strengthValues = [
			[window.getComputedStyle(passField).getPropertyValue('background-color'), ''], // 0 defaults
			['#f5a9a9', '{{ lang("PS_VERY_WEAK")|e("js") }}'], // 1 red, very weak
			['#f5d0a9', '{{ lang("PS_WEAK")|e("js") }}'], // 2 orange, weak
			['#f3f781', '{{ lang("PS_GOOD")|e("js") }}'], // 3 yellow, good
			['#a9f5a9', '{{ lang("PS_STRONG")|e("js") }}'], // 4 light green, strong
			['#00ff00', '{{ lang("PS_VERY_STRONG")|e("js") }}'], // 5 green, very strong
		];

		// Define helper functions
		const showStrength = (score, result) => {
			passField.style.backgroundColor = strengthValues[score][0];
			resultMsg.innerHTML = `${strengthValues[score][1]}${result.length ? ' <em>' + result + '</em>' : ''}`;
		};

		const trigger = () => {
			const input = passField.value;
			{% if S_USE_ZXCVBN -%}
			const result = zxcvbnts.core.zxcvbn(input, userInputs());
			showStrength(result.score + (input.length > 0), result.feedback.warning);
			{% else -%}
			showStrength(Math.max(complexity(input), +(input.length > 0)), '');
			{% endif -%}
		};

		{% if S_USE_ZXCVBN -%}
		// Set zxcvbn options
		const userInputs = () => ['{{ USER|e("js") }}', '{{ USERNAME|e("js") }}', '{{ EMAIL|e("js") }}', '{{ USER_EMAIL|e("js") }}', userField?.value, mailField?.value].filter(Boolean);
		const options = {
			translations: zxcvbnts['language-{{ zxcvbntsLang }}'].translations,
			graphs: zxcvbnts['language-common'].adjacencyGraphs,
			dictionary: {
				...zxcvbnts['language-common'].dictionary,
				...zxcvbnts['language-en'].dictionary,
				{%- if zxcvbntsLang != 'en' -%}
				...zxcvbnts['language-{{ zxcvbntsLang }}'].dictionary,
				{%- endif -%}
			},
		};
		zxcvbnts.core.zxcvbnOptions.setOptions(options);
		{% else -%}
		function complexity(input) {
			return 0
				+ (input.length > 5) // more than 5 chars
				+ (input.length > 12) // more than 12 chars
				+ (/[a-z]/.test(input) && /[A-Z]/.test(input)) // mixed case chars
				+ (/\d/.test(input) && /\D/.test(input)) // at least 1 number and 1 other char
				+ (/[!@#$%^&*?_~\-(),]/.test(input) && /\w/.test(input)); // letters and special chars
		}
		{% endif -%}

		// Attach event listeners and insert resultMsg into DOM
		passField.addEventListener('keyup', trigger);
		passField.addEventListener('blur', trigger);
		passField.parentNode.insertBefore(resultMsg, passField.nextSibling);
	})();
</script>
