<script>
	(function($) {
		'use strict';
		$.fn.passwordStrength = function() {
			return this.each(function() {
				var $passField = $(this),
					$resultMsg = $('<div/>'),
					displayAry = [];
				displayAry[0] = [$passField.css('background-color'), '']; // 0 defaults
				displayAry[1] = ['#f5a9a9', '{{ lang("PS_VERY_WEAK")|e("js") }}']; // 1 red, very weak
				displayAry[2] = ['#f5d0a9', '{{ lang("PS_WEAK")|e("js") }}']; // 2 orange, weak
				displayAry[3] = ['#f3f781', '{{ lang("PS_GOOD")|e("js") }}']; // 3 yellow, good
				displayAry[4] = ['#a9f5a9', '{{ lang("PS_STRONG")|e("js") }}']; // 4 light green, strong
				displayAry[5] = ['#00ff00', '{{ lang("PS_VERY_STRONG")|e("js") }}']; // 5 green, very strong
				function showStrength(field, score) {
					field.css('background-color', displayAry[score][0]);
					$resultMsg.html(displayAry[score][1]);
				}
				function trigger() {
					var input = $passField.val();
					var score =
						{%- if S_USE_ZXCVBN -%}
							zxcvbn(input).score + (input.length > 0);
						{%- else -%}
							Math.max(complexity(input), +(input.length > 0));
						{%- endif -%}
					showStrength($passField, score);
				}
				$passField.bind('keyup blur', trigger).after($resultMsg);
			});
		};
		{% if S_USE_ZXCVBN %}
			$.ajax({
				url: '{{ ROOT_PATH }}ext/vse/passwordstrength/lib/zxcvbn/zxcvbn.js',
				dataType: 'script',
				cache: true,
				success: function() {
					$('input[name=new_password]').passwordStrength();
				}
			});
		{% else %}
			function complexity(password) {
				return 0
					+ (password.length > 5) // more than 5 chars
					+ (password.length > 12) // more than 12 chars
					+ (/[a-z]/.test(password) && /[A-Z]/.test(password)) // mixed case chars
					+ (/\d/.test(password) && /\D/.test(password)) // at least 1 number and 1 other char
					+ (/[!@#$%^&*?_~\-(),]/.test(password) && /\w/.test(password)); // letters and special chars
			}
			$(function() {
				$('input[name=new_password]').passwordStrength();
			});
		{% endif %}
	})(jQuery);
</script>
