{% if S_USE_ZXCVBN %}
	{% set zxcvbntsLangs = {
		'de': 'de',
		'de_x_sie': 'de',
		'en': 'en',
		'es': 'es-es',
		'es_x_tu': 'es-es',
		'fi': 'fi',
		'fr': 'fr',
		'id': 'id',
		'it': 'it',
		'ja': 'ja',
		'nl': 'nl-be',
		'pl': 'pl',
		'pt-br': 'pt-br',
	} %}
	{% set zxcvbntsLang = S_USER_LANG in zxcvbntsLangs|keys ? zxcvbntsLangs[S_USER_LANG] : zxcvbntsLangs.en %}
	{{ _self.pws_script('core', ROOT_PATH, T_ASSETS_VERSION) }}
	{{ _self.pws_script('language-common', ROOT_PATH, T_ASSETS_VERSION) }}
	{{ _self.pws_script('language-en', ROOT_PATH, T_ASSETS_VERSION) }}
	{{ zxcvbntsLang != 'en' ? _self.pws_script('language-' ~ zxcvbntsLang, ROOT_PATH, T_ASSETS_VERSION) }}
{% endif %}
<script>
	(function($) {
		'use strict';
		$.fn.passwordStrength = function() {
			return this.each(function() {
				let $passField = $(this),
					$resultMsg = $('<div/>'),
					displayAry = [];
				displayAry[0] = [$passField.css('background-color'), '']; // 0 defaults
				displayAry[1] = ['#f5a9a9', '{{ lang("PS_VERY_WEAK")|e("js") }}']; // 1 red, very weak
				displayAry[2] = ['#f5d0a9', '{{ lang("PS_WEAK")|e("js") }}']; // 2 orange, weak
				displayAry[3] = ['#f3f781', '{{ lang("PS_GOOD")|e("js") }}']; // 3 yellow, good
				displayAry[4] = ['#a9f5a9', '{{ lang("PS_STRONG")|e("js") }}']; // 4 light green, strong
				displayAry[5] = ['#00ff00', '{{ lang("PS_VERY_STRONG")|e("js") }}']; // 5 green, very strong
				function showStrength(score, result) {
					$passField.css('background-color', displayAry[score][0]);
					$resultMsg.html(score ? displayAry[score][1] + (result.length ? ' - ' + result : '') : '');
				}
				function trigger() {
					let input = $passField.val();
					let score;
					{%- if S_USE_ZXCVBN -%}
						let result = zxcvbnts.core.zxcvbn(input);
						score = result.score + (input.length > 0);
						showStrength(score, result.feedback.warning);
					{%- else -%}
						score = Math.max(complexity(input), +(input.length > 0));
						showStrength(score);
					{%- endif -%}
				}
				$passField.on('keyup blur', trigger).after($resultMsg);
			});
		};
		{% if S_USE_ZXCVBN %}
			const options = {
				translations: zxcvbnts['language-{{ zxcvbntsLang|e("js") }}'].translations,
				graphs: zxcvbnts['language-common'].adjacencyGraphs,
				dictionary: {
					...zxcvbnts['language-common'].dictionary,
					...zxcvbnts['language-en'].dictionary,
					{%- if zxcvbntsLang != 'en' -%}
					...zxcvbnts['language-{{ zxcvbntsLang|e("js") }}'].dictionary,
					{%- endif -%}
				},
			};
			zxcvbnts.core.zxcvbnOptions.setOptions(options);
		{% else %}
			function complexity(password) {
				return 0
					+ (password.length > 5) // more than 5 chars
					+ (password.length > 12) // more than 12 chars
					+ (/[a-z]/.test(password) && /[A-Z]/.test(password)) // mixed case chars
					+ (/\d/.test(password) && /\D/.test(password)) // at least 1 number and 1 other char
					+ (/[!@#$%^&*?_~\-(),]/.test(password) && /\w/.test(password)); // letters and special chars
			}
		{% endif %}
		$(function() {
			$('input[name=new_password]').passwordStrength();
		});
	})(jQuery);
</script>

{# we have to use script tags instead of INCLUDEJS so the scripts load before the JS code in the ACP #}
{% macro pws_script(DIR, ROOT_PATH, T_ASSETS_VERSION) %}
	<script src="{{ ROOT_PATH }}ext/vse/passwordstrength/styles/all/template/js/zxcvbn-ts/{{ DIR|e("html") }}/dist/zxcvbn-ts.js?assets_version={{ T_ASSETS_VERSION }}"></script>
{% endmacro %}
